

nav {
	background-color: #E7E7E7;
	border-bottom: gray;
}

nav h1 {
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
	font-size: 1.5em;
}


nav ul {
	display: inline-block;
	list-style: none;
	float: right;

}

nav a {
	color: purple;
	text-decoration: none
}

nav li {
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
	font-size: 1.2em;
}


.input-search {
	padding: 5px;
	width: 95%;
	color: gray;
	border-radius: 5px;
}

.form-search {
	display: inline-block;
	width: 40%;
	margin-left: 5%;
	margin-top: 5%;
}

.glass {
	display: inline-block;
	height: 30px;
	width: 30px;
	vertical-align: bottom;
	border: 1px solid rgb(238, 238, 238);
	border-radius: 5px;
}

table, td {
	border: 1px solid rgb(238, 238, 238);
	border-radius: 5px;
	border-collapse: collapse;
	padding: 10px;
	margin-top: 5%;
	margin-left: 5%;
	margin-bottom: 5%;
}

.results {
	margin-left: 5%;
	margin-bottom: 5px;
}

.date {
	display: inline-block;
	color: gray;
	padding-right: 10px;
}

.title {
	display: inline-block;
	color: blue;
	font-weight: bold;
	padding-right: 10px;
}

.location {
	display: inline-block;
	color: gray;
}