

nav {
	background-color: #E7E7E7;
	border-bottom: gray;
}

nav h1 {
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
	font-size: 1.5em;
}


nav ul {
	display: inline-block;
	list-style: none;
	float: right;

}

nav a {
	color: purple;
	text-decoration: none
}

nav li {
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
	font-size: 1.2em;
}


.input-search {
	padding: 5px;
	width: 95%;
	color: gray;
}

.form-search {
	display: inline-block;
	width: 40%;
	margin-left: 5%;
	margin-top: 5%;
}

.glass {
	display: inline-block;
	height: 40px;
	width: 40px;
	vertical-align: bottom;
}